Adafruit-Blinka==4.2.0
adafruit-circuitpython-busdevice==4.3.0
adafruit-circuitpython-rfm69==2.1.0
adafruit-circuitpython-tinylora==2.1.0
Adafruit-PlatformDetect==2.24.0
Adafruit-PureIO==1.1.8
aenum==2.2.6
beautifulsoup4==4.5.3
blessed==1.17.6
blessings==1.7
chardet==2.3.0
conda==4.3.16
cryptography==1.7.1
cycler==0.10.0
Cython==0.29.21
decorator==4.0.11
edgetpu==1.9.2
gitdb==4.0.5
GitPython==3.1.11
html5lib==0.999999999
idna==2.2
inquirer==2.7.0
keyboard==0.13.5
keyring==10.1
keyrings.alt==1.3
lxml==3.7.1
matplotlib==2.0.0
numexpr==2.6.1
numpy==1.18.2
packaging==20.8
pandas==0.25.3
pathlib==1.0.1
pbkdf2==1.3
picamera==1.13
Pillow==4.0.0
pyasn1==0.1.9
pycosat==0.6.3
pycrypto==2.6.1
pyftdi==0.52.0
pygobject==3.22.0
PyMySQL==0.10.1
pyparsing==2.4.7
pyserial==3.5
python-apt==1.1.0b5
python-dateutil==2.8.1
python-editor==1.0.4
pytz==2020.5
pyusb==1.1.0
pyxdg==0.25
readchar==2.0.1
requests==2.12.4
rpi-ws281x==4.2.5
RPi.GPIO==0.7.0
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.2
scipy==0.18.1
SecretStorage==2.3.1
six==1.15.0
smmap==3.0.4
spidev==3.5
SQLAlchemy==1.3.20
ssh-import-id==5.6
sysv-ipc==1.0.1
tables==3.3.0
urllib3==1.19.1
wcwidth==0.2.5
webencodings==0.5
wifi==0.3.8
wireless==0.3.3
